.about {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  &-list {
    display: flex;
    margin-left: -30px;
  }
  &-frame {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.about-list__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.about-list__content {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-list__subtitle {
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.about-list__text,
.product-content__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about-list__text {
  display: block;
  margin-bottom: 15px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__item {
  & + & {
    margin-left: 10px;
  }
}

.socials__icon {
  fill: #afb1b8;
  .socials__link:hover &,
  .socials__link:focus & {
    fill: #ffffff;
  }
}
