.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.logo-blk {
  color: #000000;
}

.logo-wht {
  color: #ffffff;
}
